@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background: radial-gradient(ellipse at center,#06BDC1, #68469F );
    background-attachment: fixed;
}
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frame {
    width: 300px;
    height: 350px;
    background: #fff;
    border: 10px solid rgb(10, 211, 247);
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.9);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    margin-top: 30px;
    padding: 10px;
    background: rgb(8, 99, 99);
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
}
.button:hover {
    transform: scale(1.05) translate3d(0, 0, 0);
}
.quote {
    font-size: 1.5rem;
    font-family: tahoma;
    padding-bottom: 25px;
}
.author {
    font-family: 'MonteCarlo', cursive , arial;
    font-size: 1.4rem;
}